
  .hero {
    min-height: 100vh;
   /* background: url("./Components/Assets/hero.jpeg") center/cover no-repeat;*/
    background: url("./Compoents/Assets/hero.jpeg") center/cover no-repeat;
    display: grid;
    place-items: center;
  }
  .banner {
    background: var(--clr-white);
    padding: 4rem 0;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    text-align: center;
    width: 90vw;
    max-width: var(--fixed-width);
    background-color: white;
  }
  .Modal-Btn {
    margin-top: 2rem;
    background: var(--clr-primary-5);
    border-color: var(--clr-primary-5);
    color: var(--clr-white);
    height: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .Modal-Btn:hover {
    background: transparent;
    color: var(--clr-primary-5);
    height: 400px;

  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(246, 187, 239, 0.5);
    display: grid;
    place-items: center;
    transition: var(--transition);
   visibility: hidden;
    z-index: -10;
  }
 
  /* OPEN/CLOSE MODAL */
  .Opening-Model {
    visibility: visible;
    z-index: 10;
  }
  .modal-container {
    background: var(--clr-white);
    border-radius: var(--radius);
    width: 90vw;
    height: 30vh;
    max-width: var(--fixed-width);
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    color:rgb(13, 0, 0);
    background-color: bisque;
  }
  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-red-dark);
    cursor: pointer;
    transition: var(--transition);
  }
  .close-btn:hover {
    color: var(--clr-red-light);
    transform: scale(1.3);
  }